:root {
    --CP: #FFD422;
    --CPV: #D6AD00;
}

.yellow_box_lister {
    padding-top: 20px;
    padding-bottom: 50px;
}
.yellow_box {
    background-color: var(--CP);
    margin: 4px 15px;
    border-radius: 8px;
}
.bottom_dropdown {
    font-size: 16px;
    line-height: 32px;
    /* paddings will be applied to the entire widget, not the text. */
}
