:root {
    --CP: #FFD422;
    --CPV: #D6AD00;
}

.yellow_box_lister {
    padding-top: 20px;
    padding-bottom: 50px;
}
.yellow_box {
    background-color: var(--CP);
    padding: 15px 30px;
    margin: 0;
    border-radius: 10px;
}
